<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yum Yum Gimmie Sum</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="scripts/script.js"></script>
    <script type="module" src="scripts/script.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Link to fontawesome -->
    <script
      src="https://kit.fontawesome.com/1eafdca816.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <header class="logo-header">
        <img src="assets/images/logo.svg" alt="YYGS Logo" class="logo" />
      </header>

      <div class="welcome-wrapper">
        <div class="image-grid">
          <img src="assets/images/burger.svg" alt="Burger" />
          <img src="assets/images/burritos.svg" alt="Burrito" />
          <img src="assets/images/ramen.svg" alt="Ramen" />
        </div>

        <!-- Welcome Section -->
        <section class="welcome">
          <h1>VÄLKOMMEN TILL</h1>
          <h2>YUM YUM GIMMIE SUM</h2>
        </section>
        
        <!-- YYGS Quote -->
        <section class="quote-box">
          <p class="quote">
            "Street food som förändrar ditt liv – en tugga i taget."
          </p>
        </section>
      </div>

      <!-- Opening hours -->
      <section class="hours">
        <h3>ÖPPETTIDER</h3>
        <ul>
          <li>Mån - Tor <span>11-20</span></li>
          <li>Fre - Lör <span>11-23</span></li>
          <li>Sön <span>11-20</span></li>
        </ul>
      </section>

      <!-- location, order and about us buttons -->
      <nav class="buttons">
        <button class="location-btn">
          <i class="fa-solid fa-location-dot"></i> HITTA VÅRA FOODTRUCKS
        </button>
        <button class="order-btn">
          <i class="fa-solid fa-bowl-food"></i> CRAVINGS? BESTÄLL NU!
        </button>
        <button class="story-btn">
          <i class="fa-solid fa-truck-fast"></i> YUM YUM GIMMIE SUM – VÅR STORY
        </button>
      </nav>
    </div>
  </body>
</html>
